<table border="1">
  <tr>
    <th>ID</th>
    <th>Table number</th>
    <th>Line items</th>
    <th>Total price</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.table_number %></td>
      <td>
        <% order.line_items.all.each do |item| %>
        <ul>
          <li><%= item.quantity %> <%= item.dish.name %> at <%= "$%.2f" % item.dish.price %> each = <%= "$%.2f" % (item.dish.price*item.quantity)%></il>
        </ul>
        <% end %>
      </td>
      <td><%= "$%.2f" % order.total_price %></td>
    </tr>
  <% end %>
</table>
