<H1>Transactions for <%= params[:page] %></H1>

<table border=2>
	<tr>
		<th>Date</th>
		<th>Memo</th>
		<th>Amount</th>
		<th></th>
	</tr>
	<% @account.transactions.each do |transaction| %>
	<tr>
		<td><%== text_field_tag "date#{transaction.id}", transaction.date, size: 20 %></td>
		<td><%== text_field_tag "memo#{transaction.id}", transaction.memo, size: 20 %></td>
		<td>$<%== text_field_tag "amount#{transaction.id}", "%.2f" % transaction.amount, size: 20 %></td>
		<% if transaction.amount != "" %>
			<td><%== submit_tag "Delete transaction #{transaction.id}" %></td>
		<% else %>
			<td></td>
		<% end %>
	<tr>
	<% end %>
	<tr>
		<td><%== text_field_tag :date, "", size: 20 %></td>
		<td><%== text_field_tag :memo, "", size: 20 %></td>
		<td><%== text_field_tag :amount, "", size: 20 %></td>
		<td></td>
	</tr>
</table>
<p>
<%== submit_tag "Save" %>
</p>
<p>
	Warning: don't press Enter on this page: click Save instead.
</p>