<H1>Order <%= params[:order_number] %> for Table <%= @table.id %></H1>
<p>
	<table border=2>
		<tr>
			<th>Chair</th>
			<th>Entree name</th>
			<th>Price</th>
		</tr>
		<% @order.line_items.each do |item| %>
		<tr>
			<td><%= item.chair %></td>
			<td><%= Entree.find(item.entree_id).name %></td>
			<td><%= "$%.2f" % Entree.find(item.entree_id).price %></td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td><b>Total</b></td>
			<td><%= "$%.2f" % @order.total_price %> <%== submit_tag "Pay and close" %></td>
	</table>
</p>

<p>
	Menu item:
</p>

<p>
	<table>
		<% Entree.all.each do |entree| %>
			<tr>
				<td><%== radio_button_tag :entree, "#{entree.id}" %><%= entree.name %></td>
				<td><%= "$%.2f" % entree.price %><td>
			</tr>
		<% end %>
	</table>
</p>

<p>
	Chair number(from 1 to <%= @table.number_of_chairs %>)<br>
	<%== text_field_tag :chair, "", size: 5 %>
</p>
<p>
	<%== submit_tag "Add entree" %>
</p>